[submodule "User/Lib/elapsedTimer"]
	path = User/Lib/elapsedTimer
	url = git@github.com:SatoshiRC/elapsedTimer.git
[submodule "User/Lib/ICM20948"]
	path = User/Lib/ICM20948
	url = git@github.com:SatoshiRC/ICM20948.git
[submodule "User/Lib/Vector3D"]
	path = User/Lib/Vector3D
	url = git@github.com:SatoshiRC/Vector3D.git
[submodule "User/Lib/Command"]
	path = User/Lib/Command
	url = git@github.com:SatoshiRC/cansat_command.git
